.git
.gitignore
.idea
.vscode
.env
.env.*

/vendor
/node_modules

npm-debug.log
yarn-error.log

/storage/framework/cache/data
/storage/debugbar
/public/storage
/public/hot

docker-compose.yml
Dockerfile
README.md
*.md
